@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	font-family: 'Nanum Gothic';
}
h5 {
	font-family: 'Noto Sans KR';
	font-size: 15px;
}
h4 {
	font-family: 'Noto Sans KR';
}
h3 {
	font-family: 'Hanna';
}
h2 {
	font-family: 'Hanna';
}
h1 {
	font-family: 'Hanna';
}
li { list-style: none; }
nav {
	display: flex;
	border: 1px solid #000;
}

#bs-example-navbar-collapse-1 {
	display: flex;
}
/* 테이블 관련 디자인 처리 */
table {
	margin: 0 auto;
	width: 500px;
}
thead {
	background-color: #006DCC;
	color: white;
	text-align: center;
}
tbody tr td {
	border: 1px solid #dddddd;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
input[type="text"], input[type="password"], input[type="email"] {
	width: 90%;
	height: 30px;
	border: 1px solid #dddddd;
	border-radius: 3px;
}

/* 모달 팝업창 관리 디자일 처리*/
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}
